{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Admin{% endblock %}</title>
    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'your_custom_css.css' %}">
    {% endblock %}
</head>
<body>
    <div id="header">
        <img src="{% static 'clientapp/img/th (3).png' %}" alt="Logo" style="height: 50px;">
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
